html{
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.pop{
    font-family: 'Poppins', sans-serif;
}

/* header */
header{
    padding: 27px 0;
}
header .logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #bbbcde;
    text-decoration: none;
}
header .header_menu li{
    margin-left: 40px;
    list-style: none;
}
header .header_menu li a{
    text-decoration: none;
    color: darkslategrey;
    transition: 0.4s;
}
header .header_menu li a:hover{
    color: #bbbcde;
    transition: 0.4s;
}

/* main */
/* top_image */
#top_image{
    background-image: url(../images/koki_icon.png);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
}
#top_image::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 1;
}
main .top_image_inner{
    z-index: 2;
    color: white;
    width: 100%;
    text-align: center;
}
main .top_image_inner p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
main .top_image_inner h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
/* About_Kotan */
#About_Kotan{
    margin-bottom: 120px;
}
main .title{
    font-size: 20px;
    font-weight: 500;
    color: #bbbcde;
    margin-bottom: 60px;
}
#About_Kotan h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}
main .column-2{
    width: 48%;
}
main .text{
    line-height: 2;
}
main .About_Kotan_image{
    background-image: url(../images/top.png);
    background-position: center;
    background-size: cover;
    height: 320px;
    border-radius: 30px;
}
main .heading{
    font-family: 'Dancing Script', cursive;
    font-size: 200px;
    font-weight: 700;
    color: #bbbcde;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-15%);
    z-index: -1;
}