/* 初期化 */
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Noto Sans JP', sans-serif;
}

/* global class */
.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}
.flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.pop{
    font-family: 'Poppins', sans-serif;
}

/* header */
header{
    padding: 30px 0;
}
.title{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #8588de;
    text-decoration: none;
}
.header_menu li{
    margin-top: 20px;
    margin-right: 40px;
    list-style: none;
}
.header_menu li a{
    text-decoration: none;
    color: darkslategrey;
    transition: 0.4s;
}
.header_menu li a:hover{
    color: #8588de;
    transition: 0.4s;
}
/* スマホ対応 */
@media only screen and (max-width: 768px){
    header .header_menu li{
        margin-right: 20px;
    }
}

/* main */
.section_title{
    font-size: 30px;
    font-weight: 500;
    color: #8588de;
    margin-bottom: 20px;
}
.text{
    margin-left: 20px;
    line-height: 2;
}
h3{
    margin-left: 10px;
    margin-bottom: 10px;
}
.newicon{
    background: #F00;
    /*背景色*/
    color: #FFF;
    /*文字色*/
    font-size: 70%;
    /*文字サイズ*/
    line-height: 2;
    padding: 2px 5px;
}
dt{
    float: left;
}
dd{
    margin-left: 100px;
}
/* section-top */
#top{
    background-image: url("../images/top-image.jpg");
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#top::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
}
.top_inner{
    z-index: 2;
    color: white;
    width: 100%;
    text-align: center;
}
/* section-About */
#About{
    padding-top: 30px;
}
.box-30{
    width: 30%;
}
.about_image{
    background-image: url("../images/aboutKotan.png");
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 30px;
}
.box-70{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section-News */
#News{
    padding-top: 30px;
}
.text a{
    text-decoration: solid;
    color: black;
    transition: 0.4s;
}
.text a:hover{
    color: #8588de;
    transition: 0.4s;
}
/* section-Activity */
#Activity{
    padding-top: 30px;
}
#Activity div{
    margin-bottom: 20px;
}
/* section-Article */
#Article{
    padding-top: 10px;
}
/* footer */
footer{
    color: darkslategray;
    padding: 30px;
    text-align: center;
}
.sns-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.sns-btn li{
    list-style: none;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}